.img{
    max-height: 720px;
    width: 100%;
    aspect-ratio: auto;
}

@media (max-width: 670px){
    .img{
        height: auto;
        max-width: 100%;
        aspect-ratio: 3/2;
    }
}

.carouselContainer{
    border-radius: 15px;
}